@tailwind base;
@tailwind components;
@tailwind utilities;

.checkbox {
	@apply h-4 w-4 cursor-pointer  rounded-md border-2 border-gray-300 bg-gray-100 hover:bg-gray-200 checked:accent-primary;
}

.textarea {
	@apply p-1 bg-secondary rounded-md border border-transparent text-secondary-foreground;
	&-bordered {
		@apply border-secondary/20;
	}
	&:focus {
		box-shadow: none;
		@apply border-secondary/20 outline-secondary/20 outline outline-2 outline-offset-2;
	}
	&-ghost {
		@apply bg-opacity-5;
		&:focus {
			@apply text-secondary-foreground bg-opacity-100;
			box-shadow: none;
		}
	}
}

.input {
	@apply p-1  rounded-md bg-secondary border border-transparent text-secondary-foreground;
	input:focus {
		@apply outline-none;
	}
	&[list]::-webkit-calendar-picker-indicator {
		line-height: 1em;
	}
	&-bordered {
		@apply border-secondary/20;
	}
	&:focus,
	&:focus-within {
		box-shadow: none;
		@apply border-secondary/20 outline-secondary/20 outline outline-2 outline-offset-2;
	}
	&-ghost {
		@apply bg-opacity-5;
		&:focus,
		&:focus-within {
			@apply text-secondary-foreground bg-opacity-100;
			box-shadow: none;
		}
	}
}

.select {
	@apply p-1 pr-10 rounded-md bg-secondary border border-transparent text-secondary-foreground;
	&-bordered {
		@apply border-secondary/20;
	}

	&:focus {
		box-shadow: none;
		@apply border-secondary/20 outline-secondary/20 outline outline-2 outline-offset-2;
	}
	&-ghost {
		@apply bg-opacity-5;
		&:focus {
			@apply text-secondary-foreground bg-opacity-100;
		}
	}
}

/* ICON   */

.icon {
	@apply text-gray-700 dark:text-gray-100;
}

.icon-xxs {
	@apply w-3 h-3 focus:outline-none;
}
.icon-xs {
	@apply w-4 h-4 focus:outline-none;
}
.icon-sm {
	@apply w-5 h-5 focus:outline-none;
}
.icon-md {
	@apply w-6 h-6 focus:outline-none;
}
.icon-lg {
	@apply w-9 h-9 focus:outline-none;
}
.icon-xl {
	@apply w-10 h-10 focus:outline-none;
}
.icon-3xl {
	@apply w-14 h-14 focus:outline-none;
}
@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 346.8 77.2% 49.8%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 346.8 77.2% 49.8%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 0 0% 95%;
		--card: 24 9.8% 10%;
		--card-foreground: 0 0% 95%;
		--popover: 0 0% 9%;
		--popover-foreground: 0 0% 95%;
		--primary: 346.8 77.2% 49.8%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 15%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 346.8 77.2% 49.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
